
@{
    ViewBag.Title = "ChangeAddApplications";
    <li><a href="/Home/CreateApplPresonal">Личное посещение</a></li>
    <li><a href="/User/Regc">Регистрация покупателя</a></li>
}

<h2>ChangeAddApplications</h2>

