<!DOCTYPE html>
<html lang="ru">

<head>
    <html prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/choise_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>ХранительПРО</title>
    <!-- МЕСТО ДЛЯ ФАВИКОНА
    <link type="image/x-icon" href="" rel="shortcut icon"> 
    <link type="Image/x-icon" href="" rel="icon"> -->
</head>

<body>
    <header>
        <img class="header__logo-image" src="img/User.jpg" alt="#" width="50" height="50">
        <span class="header__title">
            ХранительПРО
        </span>
    </header>
    <section class="choise-info">
            <div class="individ">
                <a href="individ.html">
                    <button class="individ-button">
                        <img class="individ-img" src="img/User.jpg" alt="#" width="150" height="150">
                        <span>Личное посещение</span>
                    </button>
                </a>
            </div>
            <div class="group">
                <a href="group.html">
                    <button class="group-button">
                        <img class="group-img" src="img/User.jpg" alt="#" width="150" height="150">
                        <span>Групповое посещение</span>
                    </button>
                </a>
            </div>
    </section>
</body>