
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Home/PersonalVisit.cshtml";
}

<h2>Регистрация</h2>
<form method="post">
    <p>
        <label>Email:</label><br />
        <input type="text" name="email" />
    </p>
    <p>
        <label>Логин:</label><br />
        <input type="password" name="login" />
    </p>
    <p>
        <label>Пароль:</label><br />
        <input type="password" name="password" />
    </p>
    <p>
        <input type="submit" value="Регистрация" />
    </p>
</form>
