*{
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header{
    margin-bottom: 50px;
    
}
.header__title{
    padding: 0px 0px 0px 20px;
    margin-top: -50px;
}

.choise-info{
    display: flex;
    justify-content: space-around;
}

img{
    border-radius: 20px;
}

button{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(77, 74, 74, 0.432);
    border-radius: 20px;
    border: 0px solid black;
    cursor: pointer;
}

a{
    text-decoration: none;
}

