
@{
    ViewBag.Title = "View";
}

<!DOCTYPE html>
<html lang="en">


<head>

    <style type="text/css">
        * {
            font-size: 24px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        }

        header {
            margin-bottom: 50px;
        }

        .header__title {
            padding: 0px 0px 0px 20px;
            margin-top: -50px;
        }

        .choise-info {
            display: flex;
            justify-content: space-around;
        }

        img {
            border-radius: 20px;
        }

        button {
            width: 500px;
            height: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: rgba(77, 74, 74, 0.432);
            border-radius: 20px;
            border: 0px solid black;
            cursor: pointer;
        }

        a {
            text-decoration: none;
        }


    </style>
    <title>ХранительПРО</title>
</head>

<body>
    <header>
        <img class="header__logo-image" src="img/User.jpg" alt="#" width="50" height="50">
        <span class="header__title">
            ХранительПРО
        </span>
    </header>
    <section class="choise-info">
        <div class="individ">

            <a href="@Url.Action("AddApplicationPersonal", "Home", new { username = Request.QueryString["login"] })">
                <button class="individ-button">
                    <img class="individ-img" src="@Url.Content("~/img/User.jpg")" alt="#" width="150" height="150">
                    <span>Личное посещение</span>
                </button>
            </a>
        </div>
        <div class="group">
            <a href="group.html">
                <button class="group-button">
                    <img class="group-img" src="@Url.Content("~/img/User.jpg")" alt="#" width="150" height="150">
                    <span>Групповое посещение</span>
                </button>
            </a>
        </div>
    </section>
</body>
</html>